<div class="sorting">
  <app-typography variant="label" text="Сортировать по:" for="company_type" />

  <div class="sorting__controls">
    <select class="sorting__select" id="sort" (change)="onSortChange($event)">
      <option value="" style="display: none"></option>

      @for (option of SORTING_OPTIONS; track option) {
        <option [value]="option">{{ option }}</option>
      }
    </select>

    <app-button variant="small" (buttonClick)="toggleDirection()">
      {{ getDirectionIcon() }}
    </app-button>
  </div>
</div>
