
.layout {
  background-color: var(--bg-color);
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .navigation {
    padding: var(--space-l);
    background-color: var(--light-text-color);

    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    gap: var(--space-l);

    border-bottom: 1px solid var(--border-color);
  }

  .main{
    overflow-y: auto;
    height: 100%;
  }

}



