
.layout {
  background-color: var(--bg-color);
  min-height: 100vh;


  .navigation {
    padding: var(--space-l);
    background-color: var(--light-text-color);


    display: flex;
    justify-content: center;
    gap: var(--space-l);
    position: sticky;


    border-bottom: 1px solid var(--border-color);
  }

}



