@let company = company$ | async;

<section class="company-detail">
  @if (company) {
    <div class="company-detail__card company-detail__card-relative">
      <header class="company-detail__header">
        <app-typography variant="h1" [text]="company.suffix | companyName: company.business_name" />
        <app-company-logo
          [src]="company.logo"
          [alt]="'Логотип компании: ' + company.business_name"
        />
      </header>
    </div>

    <div class="company-detail__card company-detail__card-absolute">
      <ul class="company-detail__columns">
        <li class="company-detail__column">
          <app-typography variant="subtitle">Сфера деятельности: </app-typography>
          <app-typography variant="subtitle">{{ company.industry }}</app-typography>
        </li>

        <li class="company-detail__column">
          <app-typography variant="subtitle">Слоган: </app-typography>
          <app-typography variant="subtitle">{{ company.catch_phrase }}</app-typography>
        </li>
        <li class="company-detail__column">
          <app-typography variant="subtitle">Номер телефона: </app-typography>
          <app-typography variant="subtitle">{{ company.phone_number }}</app-typography>
        </li>
        <li class="company-detail__column">
          <app-typography variant="subtitle">Адрес: </app-typography>
          <app-typography variant="subtitle">{{ company.full_address }}</app-typography>
        </li>
      </ul>
    </div>
  } @else {
    <app-typography variant="h2">404</app-typography>
  }
</section>
