.base {
  font-family: 'Geologica', sans-serif;
}

.body {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
}

.body-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0;
}

.h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
}

.h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
}

.h3{
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
}

