@switch (variant) {
  @case ('h1') {
    <h1 [class]="getClassName()">
      <ng-content>{{ text }}</ng-content>
    </h1>
  }
  @case ('h2') {
    <h2 [class]="getClassName()">
      <ng-content>{{ text }}</ng-content>
    </h2>
  }
  @case ('h3') {
    <h3 [class]="getClassName()">
      <ng-content>{{ text }}</ng-content>
    </h3>
  }
  @case ('label') {
    <label [for]="for" [class]="getClassName()">{{ text }}</label>
  }
  @default {
    <p [class]="getClassName()">
      <ng-content>{{ text }}</ng-content>
    </p>
  }
}
