:root {
  // Размеры
  --space-s: 8px;
  --space-m: calc(var(--space-s) * 2);
  --space-l: calc(var(--space-s) * 3);
  --space-xl: calc(var(--space-s) * 4);

  --border-radius: 16px;
  --border-radius-s:  calc(var(--border-radius) / 2);
  --border-radius-xl: calc(var(--border-radius) * 2);

  // Цвета
  --text-color: #21272a;
  --light-text-color: #fff;

  --bg-color: #f4f9fd;

  --primary-color: #408dff;
  --light-primary-color: #4f96ff;

  --chip-background-color: rgba(166, 200, 255, 0.2);

  --secondary-color: #878d96;
  --border-color: #e0e0e0;


  // Тень

  --card-shadow: 1px 2px 10px var(--secondary-color);
  --button-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
