.chip{
  padding:var(--space-s);
  border-radius:var(--border-radius-xl);

  background-color:var(--chip-background-color);
  color: (var(--text-color));

  display:flex;
  align-items: center;
  justify-content: center;
}
