<section class="companies">
  <app-controls />

  <div class="companies__content">
    @let companies = companies$ | async;

    @if (isLoading()) {
      <div class="companies__loading">
        <app-preloader />
      </div>
    } @else if (companies?.length) {
      <ul class="companies__list">
        @for (company of companies; track company.id) {
          <li class="companies__item">
            <app-company-item [company]="company" />
          </li>
        }
      </ul>
    } @else {
      <div class="companies__empty">
        <app-typography variant="h1" text="Ничего не найдено"></app-typography>
      </div>
    }
  </div>
</section>
