.companies{
  padding: var(--space-m);
  display: flex;
  height: 100%;
  gap: var(--space-l);

  flex-direction: column;

  background-color: var(--bg-color);

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__loading,
  &__empty {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(0, 180px);


    justify-content: center;
    gap: var(--space-xl);

    padding: var(--space-xl);

    @media (max-width: 1280px) {
      grid-template-columns: 1fr;
      padding: var(--space-l);
    }
  }
  &__item{}
}
