<section class="company-card">
  <app-company-logo [src]="company.logo" [alt]="company.business_name" />
  <main class="company-card__content">
    <app-typography variant="h2" [text]="company.suffix | companyName: company.business_name" />
    <ul class="company-card__chips">
      <li>
        <app-chip [text]="company.industry" />
      </li>
      <li>
        <app-chip [text]="company.type" />
      </li>
    </ul>
  </main>

  <div class="company-card__button">
    <app-nav-link
      [navRoute]="{ label: 'Подробнее →', routerLink: ['/detail/', `${company.id}`] }"
    />
  </div>
</section>
