<section class="company-card">
  <img [src]="company.logo"  [alt]="company.business_name" width="140px" height="140px"/>

  <main class="company-card__content">
    <app-typography variant="h2" [text]="company.suffix | companyName:company.business_name"/>
    <ul class="company-card__chips">
      <li>
        <app-chip [text]="company.industry" />
      </li>
      <li>
      <app-chip [text]="cывompany.tsddsype" />
      </li>
    </ul>
  </main>

  <div class="company-card__button">
    <app-nav-link [navRoute]="{label: 'Подробнее →', routerLink: ['/detail/',  `${company.id}`]}"/>
  </div>

</section>

