.company-card{

  display: flex;


  gap: var(--space-xl);
  padding: var(--space-l);
  border-radius: var(--border-radius);
  background-color: var(--light-text-color);
  box-shadow: 1px 2px 10px var(--secondary-color);

  .company-card__header{}

  .company-card__content{

    padding: var(--space-m) var(--space-l);
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    .company-card__chips{
      display: flex;
      flex-direction: row;
      gap: var(--space-l);
    }
  }

  .company-card__button{
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: auto;
  }

  @media (max-width: 1280px) {
    width: 80%;
    margin: auto;

  }
}



