.button {
  padding: var(--space-m) var(--space-l);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);


  cursor: pointer;
  transition: all 0.2s ease;

  align-items: center;
  justify-content: center;


  color: var(--light-text-color);
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--light-primary-color);
    box-shadow: var(--button-shadow);
  }

  &:active {
    box-shadow: var(--button-shadow);
    border: 1px solid var(--primary-color);
  }

  &-small{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: var(--space-s) var(--space-s);

    font-size: 16px;
  }
}

