.button {
  padding: var(--space-m) var(--space-l);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  color: var(--primary-contrast);

  cursor: pointer;
  transition: all 0.2s ease;

  align-items: center;
  justify-content: center;


  &:hover {
    background-color: var(--primary-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
